/* body {
    background-color: rgb(178, 210, 222);
  } */
  /* .leaflet-container {
    background-color: rgb(178, 210, 222);
    color: black;
  }
   */
   .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgb(223, 223, 223);
   }
   .content{
        width: 1000px;
        height: 100%;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        background-color: white;
   }
   .Search{
    margin-left: 30px;
    
   }
   .Searchinput{
    width: 500px;
    
   }
   .content h1{
    text-align: center;
  }

.content1{
  display: flex;
  flex-direction: row;
  padding:20px;

}
.Search{
  margin-left: 30px;
  
 }
 .Searchinput{
  width: 420px;
  
 }
/* .map{
  height: 550px;

  width: 380px;
  border-radius: 10px;
  margin-left: 10px;
  z-index: 1;
} */
.dictionary{
  min-height: 450px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;
  border-radius:10px;
  margin-left: 30px;
}
.dictionary h1{
  text-align:left;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}
.dictionary p{
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid #ff7300;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  font-variation-settings:"wdth" 100;
}
.dictionary h3{
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
}
.dictionary ol li{
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-size: 15px;
}

.table{
  display: flex;
  flex-direction: row;
  margin-bottom:20px; 

 
}
.tabledialects{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 950px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}



.table1{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 20px;
  margin-left: 30px
}
.table2{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 300px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding: 20px;
  margin-right: 20px;
}
.table3{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 300px;
  display: flex;
  border-radius: 5px;
  padding: 20px;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
    
  .content1{
    flex-direction: column;
    padding:20px;
  }
  .content h1{
    font-size:22px;
  }

  .Search{
    margin-left: 30px;
    
   }
  /* .map{
    
    width: 320px;
    border-radius: 10px;
    margin-left: 10px;
    height: 420px;
    margin-bottom: 10px;
    z-index: 1;
  } */
  .dictionary{
    height: 100%;
    width: 420px; 
    padding: 10px;
   
    border-radius:10px;
    margin-left: 10px;
  }
  
.dictionary h1{
  text-align:left;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}
.dictionary p{
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid #ff7300;
  padding-left: 20px;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  font-variation-settings:"wdth" 100;
}
.dictionary h3{
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
}
.dictionary ol li{
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-size: 15px;
}

.table{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.table1{
  
  width: 420px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
}
.table2{
  
  width: 410px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
}
.table3{
  
  width: 410px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 20px;
}
.tabledialects{
  
  width: 420px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}


}