.container{
    width: 1200;
    height: 910;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    
}
.container1{
    width:50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
}
.inputs{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding-top: 10px;
}
.container2{
    margin-top: 35px;
    
    padding: 20px;
    width:50%;
    border-radius: 10px ;
}
.content{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 90vh;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    
}
.dictionary{
    color: black;
}
.dictionary h1 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
     font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* .titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */


.wordmeaning{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
     font-family: "Anek Devanagari", sans-serif;
}

